@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #474343;
    color: white;
    padding: 20px;
    text-align: center;
}

.profile {
    text-align: center;
}

.profile-img {
    width: 200px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 5px solid #2c2828;
}

/* Top social links (in header) */
.social-links a {
    color: white;     
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #4B3621;    
}

#about, #skills {
    padding: 20px;
}

.skill {
    margin: 10px 0;
    background: #f9f7f7;
    border-radius: 5px;
    overflow: hidden;
}

.skill .progress {
    height: 20px;
    background: #a7aca7;
}

.contact {
    padding: 60px 0;
    background: #f7f7f7;
    text-align: center;
}

.section-title h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.section-title p {
    font-size: 18px;
    color: #666;
}

/* Styling for contact section icons */
.contact-icon {
    text-decoration: none;
    color: black;      
    margin: 0 15px;
}

.contact .row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.circle-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font-size: 28px;
    color: #665202; 
    margin: 10px;
}

.circle-icon:hover {
    background: #d2b48c; 
    color: white;        
    transform: scale(1.1);
}
